<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gestión de Compras</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>        
    </h:head>
    <h:body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Gestión de Compras</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#{request.contextPath}/compras/gestion-clientes.jsf">Clientes</a> 
                        </div>
                    </li>                
                </ul>
                <ul class="navbar-nav mr-auto">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Productos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#{request.contextPath}/compras/gestion-clientes.jsf">Productos</a>                          
                        </div>
                    </li>                
                </ul>
                <ul class="navbar-nav mr-auto">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Salir
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#{request.contextPath}/logout">Salir</a>                          
                        </div>
                    </li>                
                </ul>
            </div>
        </nav>


        <h:form>
            <br/>
            <b><h4>Registro/Modificación de Producto</h4></b>


            <table>   
                <tr>
                    <td></td>
                    <td>
                        <h:inputHidden value="#{productoBean.producto.idProducto}" />
                    </td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>
                        <h:inputText id="idNombre" value="#{productoBean.producto.nombre}">
                        </h:inputText>
                    </td>
                </tr>
                <tr>
                    <td>Codigo</td>
                    <td>
                        <h:inputText value="#{productoBean.producto.codigo}"/>
                    </td>
                </tr>
                <tr>
                    <td>Precio Unitario</td>
                    <td>
                        <h:inputText id="idRfc" value="#{productoBean.producto.precioUnitario}">
                        </h:inputText>
                    </td>
                </tr>
            </table>        
            <br/>
            <h:outputLabel value="#{productoBean.errorProducto}" style="color: red"/>
            <br/>
            <h:commandButton value="Guardar">
                <f:ajax listener="#{productoBean.registrarProducto()}" execute="@form" render="@form"/>
            </h:commandButton> 
            <h:commandButton value="Cancelar">
                <f:ajax listener="#{productoBean.cancelar()}" execute="@form" render="@form"/>
            </h:commandButton> 
            <br/>
            <br/>
            <b><h4>Lista de Clientes</h4></b>

            <h:dataTable value="#{productoBean.listProducto}" var="producto" border="1">
                <h:column>
                    <f:facet name="header">Nombre</f:facet>
                    <h:outputLabel value="#{producto.nombre}"/> 
                </h:column>
                <h:column>
                    <f:facet name="header">Codigo</f:facet>
                    <h:outputLabel value="#{producto.codigo}"/> 
                </h:column>
                <h:column>
                    <f:facet name="header">Precio Unitario</f:facet>
                    <h:outputLabel value="#{producto.precioUnitario}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Acciones</f:facet>
                    <h:commandButton value="Modificar">
                        <f:ajax listener="#{productoBean.seleccionarProducto(producto)}" execute="@form" render="@form"/>
                    </h:commandButton> 
                    <h:commandButton value="Eliminar">
                        <f:ajax listener="#{productoBean.eliminarProducto(producto)}" execute="@form" render="@form"/>
                    </h:commandButton> 
                </h:column>
            </h:dataTable>

        </h:form>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </h:body>
</html>

