<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>        
    </h:head>
    <h:body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Gestión de Compras</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#{request.contextPath}/compras/gestion-clientes.jsf">Clientes</a> 
                        </div>
                    </li>                
                </ul>
                <ul class="navbar-nav mr-auto">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Productos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#{request.contextPath}/compras/gestion-productos.jsf">Productos</a>                          
                        </div>
                    </li>                
                </ul>
                
                <ul class="navbar-nav mr-auto">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Salir
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#{request.contextPath}/logout">Salir</a>                          
                        </div>
                    </li>                
                </ul>
               
            </div>
        </nav>


        <h:form>
            <br/>
            <b><h4>Registro/Modificación de Cliente</h4></b>


            <table>   
                <tr>
                    <td></td>
                    <td>
                        <h:inputHidden value="#{clienteBean.cliente.idCliente}"/>
                    </td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>
                        <h:inputText id="idNombre" value="#{clienteBean.cliente.nombre}">
                        </h:inputText>
                    </td>
                </tr>
                <tr>
                    <td>Apellido</td>
                    <td>
                        <h:inputText value="#{clienteBean.cliente.apellido}"/>
                    </td>
                </tr>
                <tr>
                    <td>RFC</td>
                    <td>
                        <h:inputText id="idRfc" value="#{clienteBean.cliente.rfc}">
                        </h:inputText>
                    </td>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td>
                        <h:inputText value="#{clienteBean.cliente.direccion}"/>
                    </td>
                </tr>
                <tr>
                    <td>Fecha de Nacimiento</td>
                    <td>
                        <h:inputText value="#{clienteBean.cliente.fechaNacimiento}">
                        </h:inputText>
                    </td>
                </tr>
            </table>        
            <br/>
            <h:outputLabel value="#{clienteBean.errorCliente}" style="color: red"/>
            <h:commandButton value="Guardar">
                <f:ajax listener="#{clienteBean.guardarCliente()}" execute="@form" render="@form"/>
            </h:commandButton> 
            <h:commandButton value="Cancelar">
                <f:ajax listener="#{clienteBean.cancelar()}" execute="@form" render="@form"/>
            </h:commandButton> 
            <br/>
            <br/>
            <b><h4>Compra de productos</h4></b>
            <table>
                <tr>
                    <td>Producto</td>
                    <td>
                        <h:selectOneMenu value="#{clienteBean.codProducto}">
                            <f:selectItem itemValue="" itemLabel="-- Seleccione --"/>
                            <f:selectItems value="#{clienteBean.selectListProducto}"/>
                        </h:selectOneMenu>
                    </td>
                    <td><h:commandButton value="Comprar">
                            <f:ajax listener="#{clienteBean.guardarProducto()}" execute="@form" render="@form"/>
                        </h:commandButton> 
                    </td>
                </tr>
            </table>
            <br/>
            <h:dataTable value="#{clienteBean.listCompra}" var="compra" border="1">
                <h:column>
                    <f:facet name="header">Id</f:facet>
                    <h:outputLabel value="#{compra.idCompra}"/> 
                </h:column>
                <h:column>
                    <f:facet name="header">Nombre</f:facet>
                    <h:outputLabel value="#{compra.idProducto.nombre}"/> 
                </h:column>
                <h:column>
                    <f:facet name="header">Código</f:facet>
                    <h:outputLabel value="#{compra.idProducto.codigo}"/> 
                </h:column>
                <h:column>
                    <f:facet name="header">Presio Unitario</f:facet>
                    <h:outputLabel value="#{compra.idProducto.precioUnitario}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Acciones</f:facet>
                    <h:commandButton value="Eliminar">
                        <f:ajax listener="#{clienteBean.eliminarProducto(compra)}" execute="@form" render="@form"/>
                    </h:commandButton> 
                </h:column>
            </h:dataTable>
            <br/>
            <h:outputLabel value="#{clienteBean.errorCompras}" style="color: red"/>
            <br/>
            <b><h4>Lista de Clientes</h4></b>

            <h:dataTable value="#{clienteBean.listCliente}" var="cliente" border="1">
                <h:column>
                    <f:facet name="header">Nombre</f:facet>
                    <h:outputLabel value="#{cliente.nombre}"/> 
                </h:column>
                <h:column>
                    <f:facet name="header">Apellido</f:facet>
                    <h:outputLabel value="#{cliente.apellido}"/> 
                </h:column>
                <h:column>
                    <f:facet name="header">RFC</f:facet>
                    <h:outputLabel value="#{cliente.rfc}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Dirección</f:facet>
                    <h:outputLabel value="#{cliente.direccion}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Fecha de Nacimiento</f:facet>
                    <h:outputLabel value="#{cliente.fechaNacimiento}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">Acciones</f:facet>
                    <h:commandButton value="Modificar">
                        <f:ajax listener="#{clienteBean.selectModificarCliente(cliente)}" execute="@form" render="@form"/>
                    </h:commandButton> 
                    <h:commandButton value="Eliminar">
                        <f:ajax listener="#{clienteBean.eliminarCliente(cliente)}" execute="@form" render="@form"/>
                    </h:commandButton> 
                </h:column>
            </h:dataTable>
           
        </h:form>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </h:body>
</html>

