<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <table>
                <tr>
                    <td>Usuario:</td>
                    <td><h:inputText value="#{loginBean.usuario}"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><h:inputSecret value="#{loginBean.password}"/>    </td>
                </tr>
            </table>
            
            <br/>
            
            <br/>
            <h:commandButton value="INGRESAR" action="#{loginBean.login()}"/>
        </h:form>
    </h:body>
</html>

